.new-arrival{
    display: flex;
}
.new-arrival-container{
    position: relative;
    flex-basis: 40%;
    margin-left: 50px;
   
   
}
.new-arrival-container:hover{
    opacity: 0.7;
}
.new{
    
   margin-left: 35%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.new-arrival button:hover{
    cursor: pointer;
    z-index: -1;
}